<div class="container">
  <h1>hola</h1>
  <h2>{{welcome}}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{task}}
      </li>
    }
  </ul>
  <hr />
  <h2>{{'hola'.repeat(4)}}</h2>
  <p>la suma de 3 + 3 es {{3+3}}</p>
  <p> hola soy {{name()}} y mi edad es {{age}}</p>
  <hr />
  <img [src]="img" alt="">
  <input type="text" [value]="name">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{person.name}}</p>
  <hr />
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">doouble me</button>
  <p>(change)</p>
  <input type="number" [value]="name()" (change)="changeHandler($event)">
  <p>(keydwon)</p>
  <input type="text" [value]="name()" (keydown)="keydownHandler($event)">
  <hr />
  <ul>
    <p>total: {{ tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{ task }}
      </li>
    }
  </ul>
  <h1>Sinals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <hr />
  <input type="color" [formControl] = "colorCtrl">
  <p>color: {{colorCtrl.value}}</p>
  <svg>
    <g>
      <rect x="200" y="0" height="100" width="100" [attr.fill]="colorCtrl.value">

      </rect>
    </g>
  </svg>
  <hr />
  <input type="color" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameCtrl"> <br/>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>

</div>
